.song-list-category {
  user-select: none;
  .show-list {
    overflow: hidden;
  }
  .show-item {
    float: left;
    height: 25px;
    margin: 10px 16px 6px 0;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: var(--color-secondary);
    background: var(--color-secondary-bg);
    transition: all 0.2s;
    cursor: pointer;
    &:hover,
    &.choosed {
      color: var(--color-primary);
      background: var(--color-primary-bg);
    }
  }
  .category-list {
    display: none;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    background: var(--color-secondary-bg);
    &.expand {
      display: block;
    }
  }
  .category-item {
    position: relative;
    margin-bottom: 32px;
    padding-left: 96px;
    overflow: hidden;
  }
  .category-name {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 0 0 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    opacity: 0.68;
  }
  .sub-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .sub-item {
    min-width: 98px;
    margin-top: 4px;
    .name {
      float: left;
      height: 26px;
      padding: 6px 12px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      transition: all 0.2s;
      cursor: pointer;
      &.hot {
        color: var(--color-primary);
      }
      &:hover,
      &.choosed {
        color: var(--color-primary);
        background: var(--color-primary-bg);
      }
    }
  }
}
