.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 5vw;
  background: var(--color-navheader-bg);
  backdrop-filter: saturate(180%) blur(20px);
  user-select: none;
  .nav-btns {
    .btn {
      float: left;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      padding: 8px;
      border-radius: 10px;
      transition: all 0.2s;
      cursor: pointer;
      &.back {
        margin-right: 8px;
      }
      &:hover {
        background: var(--color-secondary-bg-for-transparent);
      }
    }
  }
  .navs {
    .nav {
      float: left;
      margin: 0 12px;
      padding: 8px 10px 6px;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-decoration: none;
      color: var(--color-text);
      transition: all 0.2s;
      &:hover,
      &.active {
        color: var(--color-primary);
        background: var(--color-secondary-bg-for-transparent);
      }
    }
  }
  .mode {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background: var(--color-secondary-bg-for-transparent);
    }
  }
}
