.song-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 44px 24px;
  .list-item {
    .cover-wrapper {
      position: relative;
      height: 0;
      margin-bottom: 10px;
      padding-top: 100%;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .play-counts {
        position: absolute;
        top: 4px;
        right: 10px;
        color: #fff;
        .icon {
          float: left;
          width: 10px;
          height: 10px;
          margin-right: 3px;
        }
        .counts {
          float: left;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 22%;
        height: 22%;
        padding: 6% 6% 8% 8%;
        box-sizing: border-box;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        color: #fff;
        background: rgba(255, 255, 255, 0.14);
        transition: all 0.2s;
        backdrop-filter: blur(8px);
        &:hover {
          background: rgba(255, 255, 255, 0.44);
        }
      }
      &:hover {
        .play-btn {
          visibility: visible;
        }
      }
    }
    .list-name {
      max-height: 40px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #000;
    }
  }
}
