.play-list-wrapper {
  .play-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    .num {
      margin: 0 20px 0 10px;
      font-size: 16px;
      line-height: 20px;
      color: #000;
      user-select: none;
    }
    .song-cover {
      position: relative;
      width: 46px;
      height: 46px;
      margin-right: 20px;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      background: pink;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      .cover {
        display: block;
        width: 100%;
        height: 100%;
      }
      .play-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 14px 13px 14px 15px;
        box-sizing: border-box;
        visibility: hidden;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .song-name {
      flex: 1;
      padding-right: 16px;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      color: #000;
    }
    .author {
      flex: 1;
      padding-right: 16px;
      font-size: 16px;
      line-height: 20px;
      color: #000;
    }
    .duration {
      width: 45px;
      margin-right: 10px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      color: #000;
      opacity: 0.88;
      user-select: none;
    }
    &:hover {
      background: #f2f2f4;
      .play-btn {
        visibility: visible;
      }
    }
  }
  .load-more {
    width: 76px;
    height: 24px;
    margin: 32px auto 0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #000;
    background: #f2f2f4;
    opacity: 0.78;
    transform-origin: center center;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    &:hover {
      transform: scale(1.1);
    }
  }
}
