.mini-music-player {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.86);
  backdrop-filter: saturate(180%) blur(30px);
  .info-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 62px;
    padding: 0 48px;
  }
  .left-song-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    .cover {
      flex: none;
      width: 46px;
      height: 46px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.16);
      user-select: none;
      cursor: pointer;
    }
    .desc {
      margin-left: 12px;
    }
    .song-name {
      margin-bottom: 4px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #000;
      opacity: 0.88;
      cursor: pointer;
    }
    .author-name {
      font-size: 12px;
      line-height: 14px;
      color: #000;
      opacity: 0.58;
    }
  }
  .center-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .btn {
      width: 32px;
      height: 32px;
      margin: 0 8px;
      padding: 8px;
      border-radius: 25%;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #f2f2f4;
      }
      &.play {
        width: 42px;
        height: 42px;
        padding: 8px 7px 8px 9px;
      }
      &.disabled {
        opacity: 0.38;
        cursor: not-allowed;
      }
    }
  }
  .right-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    .btn {
      width: 32px;
      height: 32px;
      margin: 0 4px;
      padding: 8px;
      border-radius: 25%;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #f2f2f4;
      }
      &.list.expand {
        color: #335eea;
      }
    }
    .volume-bar {
      width: 84px;
      height: 4px;
      margin-right: 10px;
      border-radius: 15px;
      background: rgba(128, 128, 128, 0.18);
      cursor: pointer;
      .line-bar {
        position: relative;
        width: 0;
        width: 20px;
        height: 100%;
        border-radius: 15px;
        background: #000;
      }
      .circle {
        position: absolute;
        top: -4px;
        right: -6px;
        width: 12px;
        height: 12px;
        border: 3px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #d0d0d0;
        background: #000;
      }
    }
  }
}
