.music-player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .player-play-list {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 48px 96px;
    overflow: auto;
    z-index: 1;
    background: #fff;
    transition: transform 0.2s;
    transform: translateY(100%);
    &.expand {
      transform: translateY(0);
    }
  }
  .song-audio {
    display: none;
  }
}
