#home-page {
  padding: 32px 5vw 96px;
  font-family: Barlow, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif, microsoft uighur;
  .title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #000;
  }
  .for-you-music {
    margin-bottom: 54px;
    .content {
      display: flex;
      height: 198px;
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
  .recommend-song-list {
    padding-bottom: 54px;
    .title-wrapper {
      margin-bottom: 20px;
      overflow: hidden;
      .title {
        float: left;
        margin-bottom: 0;
        line-height: 40px;
      }
      .view-more {
        float: right;
        margin-top: 22px;
        font-size: 13px;
        line-height: 18px;
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
