#app {
  padding-top: 64px;
  color: var(--color-text);
  background: var(--color-global-bg);
  &.theme-dark {
    --color-text: #fff;
    --color-primary: #335eea;
    --color-secondary: #7a7a7b;

    --color-global-bg: #222;
    --color-primary-bg: #bbcdff;
    --color-secondary-bg: #323232;
    --color-navheader-bg: rgba(34, 34, 34, 0.86);
    --color-secondary-bg-for-transparent: rgba(255, 255, 255, 0.08);
  }
}
