.progress-bar {
  position: relative;
  height: 2px;
  border-radius: 1px;
  background: rgba(128, 128, 128, 0.18);
  cursor: pointer;
  .line-bar {
    position: relative;
    width: 0;
    height: 100%;
    border-radius: 1px;
    z-index: 1;
    background: #000;
  }
  .circle {
    position: absolute;
    top: 50%;
    right: -6px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #d0d0d0;
    background: #000;
    transform: translateY(-50%);
  }
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
    background: pink;
  }
}
