.personal-fm {
  flex: 1;
  height: 100%;
  margin: 0 12px;
  padding: 16px;
  border-radius: 16px;
  box-sizing: border-box;
  background: pink;
  .cover {
    float: left;
    width: 166px;
    height: 166px;
    margin-right: 19px;
    border-radius: 12px;
    overflow: hidden;
    user-select: none;
  }
  .desc-control {
    position: relative;
    height: 100%;
    overflow: hidden;
    .song-name {
      max-height: 62px;
      margin-bottom: 10px;
      overflow: hidden;
      font-size: 25px;
      font-weight: 600;
      line-height: 31px;
      word-break: break-all;
      word-wrap: wrap;
      color: #fff;
    }
    .singer-name {
      max-height: 38px;
      overflow: hidden;
      font-size: 16px;
      line-height: 19px;
      word-break: break-all;
      word-wrap: wrap;
      color: rgba(255, 255, 255, 0.9);
    }
    .control {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      .btns {
        float: left;
      }
      .btn {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        padding: 8px;
        border-radius: 25%;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background: rgba(255, 255, 255, 0.08);
        }
        &.play {
          padding: 8px 7px 8px 9px;
        }
        &.disabled {
          opacity: 0.38;
          cursor: not-allowed;
        }
      }
      .fm-mark {
        float: right;
        width: 53px;
        opacity: 0.18;
        user-select: none;
        .icon {
          float: left;
          width: 15px;
          height: 18px;
          margin-top: 11px;
          margin-right: 6px;
          color: #fff;
        }
        .text {
          overflow: hidden;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: #fff;
        }
      }
    }
  }
}
