.large-music-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // min-width: 1158px;
  min-width: 1060px;
  min-height: 445px;
  z-index: 3;
  background: var(--color-global-bg);
  transition: transform 0.2s;
  transform: translateY(100%);
  &.expand {
    transform: translateY(0);
  }
  .left-info-controls {
    width: 54vh;
    min-width: 240px;
    .cover {
      display: block;
      width: 54vh;
      height: 54vh;
      min-width: 240px;
      min-height: 240px;
      border-radius: 5%;
      overflow: hidden;
      box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
      user-select: none;
    }
    .desc-controls {
      margin-top: 32px;
    }
    .song-name {
      height: 32px;
      margin-bottom: 4px;
      overflow: hidden;
      font-size: 22px;
      font-weight: 600;
      line-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
      opacity: 0.88;
    }
    .author-name {
      height: 22px;
      overflow: hidden;
      font-size: 16px;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      opacity: 0.58;
    }
    .progress-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      user-select: none;
    }
    .curr-time,
    .duration {
      flex: none;
      font-size: 15px;
      line-height: 18px;
      opacity: 0.7;
    }
    .progress-bar-wrapper {
      flex: 1;
      margin: 0 10px;
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
    }
    .btn {
      width: 38px;
      height: 38px;
      margin: 0 8px;
      padding: 8px;
      border-radius: 25%;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: var(--color-secondary-bg-for-transparent);
      }
      &.play {
        width: 48px;
        height: 48px;
        padding: 8px 7px 8px 9px;
      }
      &.disabled {
        opacity: 0.38;
        cursor: not-allowed;
      }
    }
  }
  .right-lyric {
    max-width: 460px;
    height: 100%;
    margin-left: 110px;
    overflow: auto;
    user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .lyric-item {
      padding: 18px;
      border-radius: 12px;
      // cursor: pointer;
      &:hover {
        background: var(--color-secondary-bg-for-transparent);
      }
      &.current {
        .text {
          opacity: 1;
        }
      }
      &.empty {
        height: 40px;
        background: transparent;
        cursor: default;
      }
    }
    .text {
      font-size: 28px;
      font-weight: 600;
      line-height: 40px;
      opacity: 0.48;
    }
  }
  .collapse-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 44px;
    height: 44px;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: var(--color-secondary-bg-for-transparent);
      .svg-icon {
        opacity: 0.8;
      }
    }
    .svg-icon {
      opacity: 0.28;
    }
  }
}
