.large-music-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1158px;
  min-height: 445px;
  background: #fff;
  transition: transform 0.2s;
  transform: translateY(100%);
  &.expand {
    transform: translateY(0);
  }
  .left-info-controls {
    width: 54vh;
    min-width: 240px;
    margin-right: 110px;
    .cover {
      display: block;
      width: 54vh;
      height: 54vh;
      min-width: 240px;
      min-height: 240px;
      border-radius: 5%;
      overflow: hidden;
      background: pink;
      box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
      user-select: none;
    }
    .desc-controls {
      margin-top: 32px;
    }
    .song-name {
      height: 32px;
      margin-bottom: 4px;
      overflow: hidden;
      font-size: 22px;
      font-weight: 600;
      line-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #000;
    }
    .author-name {
      height: 22px;
      overflow: hidden;
      font-size: 16px;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #000;
      opacity: 0.58;
    }
    .progress-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      user-select: none;
    }
    .curr-time,
    .duration {
      flex: none;
      font-size: 15px;
      line-height: 18px;
      color: #000;
      opacity: 0.7;
    }
    .progress-bar {
      flex: 1;
      height: 4px;
      margin: 0 10px;
      border-radius: 2px;
      background: rgba(128, 128, 128, 0.18);
      cursor: pointer;
      .line-bar {
        position: relative;
        width: 0;
        width: 20px;
        height: 100%;
        border-radius: 2px;
        background: #000;
      }
      .circle {
        position: absolute;
        top: -4px;
        right: -6px;
        width: 12px;
        height: 12px;
        border: 3px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #d0d0d0;
        background: #000;
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
    }
    .btn {
      width: 38px;
      height: 38px;
      margin: 0 8px;
      padding: 8px;
      border-radius: 25%;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #f2f2f4;
      }
      &.play {
        width: 48px;
        height: 48px;
        padding: 8px 7px 8px 9px;
      }
    }
  }
  .right-lyric {
    max-width: 460px;
    height: 100%;
    overflow: auto;
    user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .lyric-list {
    }
    .lyric-item {
      padding: 18px;
      border-radius: 12px;
      cursor: pointer;
      &:hover {
        background: rgba(209, 209, 214, 0.28);
      }
      &.current {
        .text {
          opacity: 1;
        }
      }
    }
    .text {
      font-size: 28px;
      font-weight: 600;
      line-height: 40px;
      color: #000;
      opacity: 0.28;
    }
  }
  .collapse-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 44px;
    height: 44px;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: #f2f2f4;
      .svg-icon {
        opacity: 1;
      }
    }
    .svg-icon {
      opacity: 0.28;
    }
  }
}
